@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	/* For nice colour transitions when adding classes */
	transition: background-color 0.5s;
}

p	{
		font-size: 1.2em;
}


/* NAVIGATION */

.nav-transparent {
	background: none;
	border: none;

}

.nav-visible {
	background-color: #333;
	border: none;
	height: 70px;
}

.navbar-right {
	margin-right: 20px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #C2E7DA;
}

.logo {
		width: 40px;
}

nav a {
	color: #ffffff;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0 30px;
	font-size: 0.9em;
}


h2 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.5em;
	margin-bottom: 30px;
}

h3 {
	font-weight: 600;
	font-size: 1.2em;
}

h3 a {
	color: #4A4A4A;
}

h4 {
	margin-bottom: 20px;
}

p {
	font-weight: 300;
}


/* HERO */

.hero {
  position: relative;
  width: 100%;
  max-width: 100%;
  clear: both;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
	background:
  linear-gradient(
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0.45)
  ),
  /* bottom, image */
  url(../images/hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;*/
}

.typing {
  font-size:4em;
  color: #fff;
  margin: 0;
  text-align: center;
  padding-top: 40vh;
}

.salams {
  font-size:1.5em;
  color: #fff;
  margin: 0;
  text-align: center;
  padding-top: 20px;
}

section {
	padding: 20px 0;
}

.contact {
	font-size: 1.5em;
	font-weight: 600;
	color: #DE3C4B;
}

.event-image {
	margin-top: 20px;
	max-width: 100%;
}

.team-box img {
  max-width: 200px;
  border-radius: 100%;
}

.events {
	text-align: left;
}

.cta-btn {
	vertical-align: middle;
	font-size: 1.2em;
	width: 120px;
}

.goals {
	margin: 30px 0;
	padding: 10px;
	background-color: #efefef;
	border-radius: 5px;
}

.contacts {
	background-color: #efefef;
	padding: 10px;
	height: 250px;
}

/*.borderfy {
	border: 1px dashed blue;
}*/

/* FOOTER */

.footer-copy {
  float: left;
	margin-bottom: 20px;
}

.social-icons a {
  float: right;
	margin-left: 30px;
}

p span {
	font-size: 0.8em;
}

/* MAILCHIMP */

.mailchimp-field {
	height: 50px;;
	width: 60%;
}

.mailchimp-btn {
	height: 50px;
}
