body {
  color: #444;
  font-family: 'Source Sans Pro', sans-serif;
}

h2 {
  display: inline-block;
  margin: 20px 0;
}

h3 {
  margin: 0;
}

section p > a,
section h3 > a {
  font-weight: bold;
  color: #151515;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid orangered;
}

.chat-window {
  /*background-color: rgba(240,240,240,.6);*/
  /*background-color: #f5bdd0;*/
}

.profile-img, img {
  width: 150px;
  border-radius: 100px;
}

.bubble-wrapper {
  clear: both;
}

.bubble {
  float: left;
  position: relative;
  overflow: auto;
  padding-bottom: 6px;
  font-size: 16px;
  line-height: 1.28;
  max-width: 75%;
  border-radius: 40px;
  padding: 10px 20px;
  margin: 0px 10px 2px 10px;
}

.bubble p {
  margin: 0;
}

.Author1 {
  float: right;
  background-color: rgba(0, 132, 255, 1);
  color: #fff;
  /*background-color: black;*/
}

.Author1.first {
  border-bottom-right-radius: 4px;
}

.Author1.cont {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.Author1.last {
  border-top-right-radius: 4px;
}

.Author2 {
  float: left;
  background-color: rgba(0, 0, 0, .06);
  background-color: white;
  color: black;
}

.Author2.first {
  border-bottom-left-radius: 4px;
}

.Author2.cont {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.Author2.last {
  border-top-left-radius: 4px;
}

.Author1.single, .Author2.single, .Author1.first, .Author2.first {
  margin-top: 15px;
}

.chathead {
  float: left;
  position: relative;
  height: 72px;
  width: 72px;
  margin-top: 24px;
  margin-left: 24px;
  border-radius: 36px;
}

.chathead-dummy {
  float: left;
  position: relative;
  height: 72px;
  width: 72px;
  margin-left: 24px;
  opacity: 0;
}

input[type='email'] {
  margin-top: 8px;
  background-color: transparent;
  border: none;
  padding: 0 0 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 17px;
}

input[type='email']:focus {
  outline: none;
  color: rgba(0, 132, 255, 1);
  border-bottom: 1px solid rgba(0, 132, 255, 1);
}

.email-form {
  display: flex;
  justify-content: justify-between;
}

.cover-image {
  padding: 300px;
}

.bg-pale-cyan {
  background-color: #97D2FB;
}

.bg-messenger-blue {
  background-color: rgba(0, 132, 255, 1);
}

.map-container iframe {
  pointer-events: none;
}

.map-container iframe.clicked {
  pointer-events: auto;
}

#mc-embedded-subscribe {
  height: 50px;
}

#mc-embedded-subscribe:hover {
  cursor: pointer;
}

@media screen and (min-width: 30em) {
  .bubble {
    float: left;
    position: relative;
    overflow: auto;
    padding-bottom: 12px;
    font-size: 20px;
    line-height: 1.28;
    max-width: 75%;
    border-radius: 80px;
    padding: 20px 30px;
    margin: 0px 20px 4px 20px;
    font-weight: bold;
  }

  .bubble p {
    margin: 0;
  }

  .bubble a {
    color: #001B44;
  }

  .Author1 {
    float: right;
    background-color: rgba(0, 132, 255, 1);
    color: #fff;
    /*background-color: black;*/
  }

  .Author1.first {
    border-bottom-right-radius: 8px;
  }

  .Author1.cont {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
  }

  .Author1.last {
    border-top-right-radius: 8px;
  }

  .Author2 {
    float: left;
    background-color: rgba(0, 0, 0, .06);
    background-color: white;
    color: black;
  }

  .Author2.first {
    border-bottom-left-radius: 8px;
  }

  .Author2.cont {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
  }

  .Author2.last {
    border-top-left-radius: 8px;
  }

  .Author1.single, .Author2.single, .Author1.first, .Author2.first {
    margin-top: 30px;
  }
}
